<section>
  <form action="#">
          <h1 class="">Find a Book</h1>
       
          <input type="text" id="search-title" placeholder="Title" />

          <button id="search">Create Account</button>
        </form>
</section>

<section>
  
</section>

<script src="/js/index.js"></script>