<form action="#">
  <h1 class="add-book">Add Book</h1>

  <input type="text" id="book-title" placeholder="Title" />
  <input type="text" id="book-author" placeholder="Author" />

  <label for="genres">Genre:</label>

  <select name="genres" id="genres">
    <option value="1">Mystery</option>
    <option value="2">Romance</option>
    <option value="3">Horror</option>
    <option value="4">Fantasy</option>
    <option value="5">Sci-Fi</option>
    <option value="6">Non-Fiction</option>
    <option value="7">Literary Fiction</option>
  </select>

  <input type="checkbox" id="has-read" name="has-read" value="has-read" />
  <label for="has-read">I've Read This Book</label>
  <input type="checkbox" id="favorite" name="favorite" value="favorite" />
  <label for="favorite">Add To Favorites</label>

  <button class="submit-book">Add Book</button>
</form>

<script src="/js/add-book.js"></script>