{{!-- handlebars for adding a book --}}
<header class="sticky">
  <h1 class="headh1">Add Book</h1>
   <div class="mobile">
      <button class="hamburger">Menu</button>
      <div class="navdiv">
        <a href="/" class="nav" id="nav1"></a>
        <a href="/books" class="nav" id="nav4"></a>
        <a href="/genres" class="nav" id="nav5"></a>
        <a href="/favorites" class="nav" id="nav6"></a>
        <a href="/add" class="nav" id="nav7"></a>
        <a href="#" class="nav" id="nav2"></a>
      </div>
    </div>
</header>

<div class="formbg-outer">
  <div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15 add_class">What book would like to add?</span>
      <form action="#" id="stripe-login" class="form_padding">
        <div class="field padding-bottom--24">
          <label for="text">Book Title</label>
          <input type="text" id="book-title">
        </div>
        <div class="field padding-bottom--24">
          <div class="grid--50-50">
            <label for="text">Author</label>
          </div>
          <input type="text" id="book-author">
        </div>
        <label for="genres">Genre:</label>
        <div id="genre_menu" class="field padding-bottom--24">
          <select name="genres" id="genres">
            <option value="1">Mystery</option>
            <option value="2">Romance</option>
            <option value="3">Horror</option>
            <option value="4">Fantasy</option>
            <option value="5">Sci-Fi</option>
            <option value="6">Non-Fiction</option>
            <option value="7">Literary Fiction</option>
          </select>
        </div>

        <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
          <label for="checkbox">
            <input type="checkbox" name="checkbox" id="favorite" checked> Add To Favorite
          </label>
          <label for="checkbox">
            <input type="checkbox" name="checkbox" id="has-read"> I Have Read This
          </label>
        </div>
        <div class="field padding-bottom--24">
          <input class="submit-book" type="submit" name="submit" value="Add Book ">
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/add-book.js"></script>
<script src="/js/mobile.js"></script>
