{{#each books as |book|}}
{{> book-details}}
{{/each}}

{{> book-search}}

<header>
      <h1 class="headh1">Your Library</h1>
      <div class="navdiv">
        <a href="#" class="nav" id="nav1"></a>
        <a href="#" class="nav" id="nav2"></a>
        <a href="#" class="nav" id="nav3"></a>
        
      </div>
    </header>
    <div class="wrapper">
      <div class="scifi_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>The Last Question</h1>
            <div class="card_cat">
              
              <p class="author">Isaac Asimov</p>
              <p class="genre">Sci-Fi</p>
              <p class="pages">676 pages</p>
            </div>
            <p class="disc">I ont gotta damn clue what this books about.</p>
            <a href="" target="_blank">Read More</a>
          <div class="social-btn">
            <button>
              <i class="fas fa-play"></i> View This Book
            </button>
            <button>
              <i class="fas fa-download"></i> Add Favorite
            </button>
            <button>
              <i class="fas fa-thumbs-up"></i> I've Read This
            </button>

          </div>	
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415397166l/1719846.jpg" alt="">
            </div>
            
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="scifi_card">
          <div class="card_left">
            <div class="card_datails">
              <h1>Dune</h1>
              <div class="card_cat">
                
                <p class="author">Frank Herbert</p>
                <p class="genre">Sci-fi</p>
                <p class="pages">896 pages</p>
              </div>
              <p class="disc">I ont gotta damn clue what this books about.</p>
              <a href="" target="_blank">Read More</a>
            <div class="social-btn">
              <button>
                <i class="fas fa-play"></i> View This Book
              </button>
              <button>
                <i class="fas fa-download"></i> Add Favorite
              </button>
              <button>
                <i class="fas fa-thumbs-up"></i> I've Read This
              </button>
  
            </div>	
            </div>
          </div>
          <div class="card_right">
            <div class="img_container">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81ym3QUd3KL.jpg" alt="">
              </div>
              
            </div>
          </div>
        </div>
  
    <div class="wrapper">
      <div class="mystery_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>Our Crooked Hearts</h1>
            <div class="card_cat">
              
              <p class="author">Melissa Albert</p>
              <p class="genre">Mystery</p>
              <p class="pages">352 pages</p>
            </div>
            <p class="disc">I ont gotta damn clue what this books about.</p>
            <a href="" target="_blank">Read More</a>
          <div class="social-btn">
            <!-- WATCH TRAILER-->
            <button>
              <i class="fas fa-play"></i> View This Book
            </button>
            <!-- GET-->
            <button>
              <i class="fas fa-download"></i> Add Favorite
            </button>
            <!--USERS RATINGS-->
            <button>
              <i class="fas fa-thumbs-up"></i> I've Read This
            </button>
            <!--BOOKMARK-->

          </div>	
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1633361833l/58724863.jpg" alt="">
            </div>
            
          </div>
        </div>
      </div>
    <div class="wrapper">
      <div class="mystery_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>Blackout</h1>
            <div class="card_cat">
              
              <p class="author">Erin Flanagan</p>
              <p class="genre">Mystery</p>
              <p class="pages">303 pages</p>
            </div>
            <p class="disc">I ont gotta damn clue what this books about.</p>
            <a href="" target="_blank">Read More</a>
          <div class="social-btn">
            <!-- WATCH TRAILER-->
            <button>
              <i class="fas fa-play"></i> View This Book
            </button>
            <!-- GET-->
            <button>
              <i class="fas fa-download"></i> Add Favorite
            </button>
            <!--USERS RATINGS-->
            <button>
              <i class="fas fa-thumbs-up"></i> I've Read This
            </button>
            <!--BOOKMARK-->

          </div>	
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1651715044l/59785749.jpg" alt="">
            </div>
            
          </div>
        </div>
      </div>
    <div class="wrapper">
      <div class="romance_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>Vision in White</h1>
            <div class="card_cat">
              
              <p class="author">Nora Roberts</p>
              <p class="genre">Romance</p>
              <p class="pages">343 pages</p>
            </div>
            <p class="disc">I ont gotta damn clue what this books about.</p>
            <a href="" target="_blank">Read More</a>
          <div class="social-btn">
            <!-- WATCH TRAILER-->
            <button>
              <i class="fas fa-play"></i> View This Book
            </button>
            <!-- GET-->
            <button>
              <i class="fas fa-download"></i> Add Favorite
            </button>
            <!--USERS RATINGS-->
            <button>
              <i class="fas fa-thumbs-up"></i> I've Read This
            </button>
            <!--BOOKMARK-->

          </div>	
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1509938141l/5598113._SX318_.jpg" alt="">
            </div>
            
          </div>
        </div>
      </div>
    <div class="wrapper">
      <div class="romance_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>Action on Impulse</h1>
            <div class="card_cat">
              
              <p class="author">Mia Sosa</p>
              <p class="genre">Romance</p>
              <p class="pages">352 pages</p>
            </div>
            <p class="disc">I ont gotta damn clue what this books about.</p>
            <a href="" target="_blank">Read More</a>
          <div class="social-btn">
            <!-- WATCH TRAILER-->
            <button>
              <i class="fas fa-play"></i> View This Book
            </button>
            <!-- GET-->
            <button>
              <i class="fas fa-download"></i> Add Favorite
            </button>
            <!--USERS RATINGS-->
            <button>
              <i class="fas fa-thumbs-up"></i> I've Read This
            </button>
            <!--BOOKMARK-->

          </div>	
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="http://prodimage.images-bn.com/pimages/9780062690333_p0_v2_s1200x630.jpg" alt="">
            </div>
            
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="horror_card">
          <div class="card_left">
            <div class="card_datails">
              <h1>Desperation</h1>
              <div class="card_cat">
                
                <p class="author">Stephen King</p>
                <p class="genre">Horror</p>
                <p class="pages">704 pages</p>
              </div>
              <p class="disc">I ont gotta damn clue what this books about.</p>
              <a href="" target="_blank">Read More</a>
            <div class="social-btn">
              <!-- WATCH TRAILER-->
              <button>
                <i class="fas fa-play"></i> View This Book
              </button>
              <!-- GET-->
              <button>
                <i class="fas fa-download"></i> Add Favorite
              </button>
              <!--USERS RATINGS-->
              <button>
                <i class="fas fa-thumbs-up"></i> I've Read This
              </button>
              <!--BOOKMARK-->
  
            </div>	
            </div>
          </div>
          <div class="card_right">
            <div class="img_container">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51QJNM8W8AL.jpg" alt="">
              </div>
              
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="horror_card">
            <div class="card_left">
              <div class="card_datails">
                <h1>My Best Friend's Exorcism</h1>
                <div class="card_cat">
                  
                  <p class="author">Grady Hendrix</p>
                  <p class="genre">Horror</p>
                  <p class="pages">336 pages</p>
                </div>
                <p class="disc">I ont gotta damn clue what this books about.</p>
                <a href="" target="_blank">Read More</a>
              <div class="social-btn">
                <!-- WATCH TRAILER-->
                <button>
                  <i class="fas fa-play"></i> View This Book
                </button>
                <!-- GET-->
                <button>
                  <i class="fas fa-download"></i> Add Favorite
                </button>
                <!--USERS RATINGS-->
                <button>
                  <i class="fas fa-thumbs-up"></i> I've Read This
                </button>
                <!--BOOKMARK-->
    
              </div>	
              </div>
            </div>
            <div class="card_right">
              <div class="img_container">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91qUPlG5HeL.jpg" alt="">
                </div>
                
              </div>
            </div>
          </div>
          <div class="wrapper">
            <div class="fantasy_card">
              <div class="card_left">
                <div class="card_datails">
                  <h1>Mistborn</h1>
                  <div class="card_cat">
                    
                    <p class="author">Brandon Sanderson</p>
                    <p class="genre">Fantasy</p>
                    <p class="pages">676 pages</p>
                  </div>
                  <p class="disc">I ont gotta damn clue what this books about.</p>
                  <a href="" target="_blank">Read More</a>
                <div class="social-btn">
                  <!-- WATCH TRAILER-->
                  <button>
                    <i class="fas fa-play"></i> View This Book
                  </button>
                  <!-- GET-->
                  <button>
                    <i class="fas fa-download"></i> Add Favorite
                  </button>
                  <!--USERS RATINGS-->
                  <button>
                    <i class="fas fa-thumbs-up"></i> I've Read This
                  </button>
                  <!--BOOKMARK-->
      
                </div>	
                </div>
              </div>
              <div class="card_right">
                <div class="img_container">
                  <img src="https://m.media-amazon.com/images/I/51fqvtcN3xL.jpg" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="fantasy_card">
                <div class="card_left">
                  <div class="card_datails">
                    <h1>American Gods</h1>
                    <div class="card_cat">
                      
                      <p class="author">Neil Gaiman</p>
                      <p class="genre">Fantasy</p>
                      <p class="pages">336 pages</p>
                    </div>
                    <p class="disc">I ont gotta damn clue what this books about.</p>
                    <a href="" target="_blank">Read More</a>
                  <div class="social-btn">
                    <!-- WATCH TRAILER-->
                    <button>
                      <i class="fas fa-play"></i> View This Book
                    </button>
                    <!-- GET-->
                    <button>
                      <i class="fas fa-download"></i> Add Favorite
                    </button>
                    <!--USERS RATINGS-->
                    <button>
                      <i class="fas fa-thumbs-up"></i> I've Read This
                    </button>
                    <!--BOOKMARK-->
        
                  </div>	
                  </div>
                </div>
                <div class="card_right">
                  <div class="img_container">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91MFgXaItzL.jpg" alt="">
                    </div>
                    
                  </div>
                </div>
              </div>
       
        
    

    
    
    
    
    
    
 
    
    
    <script src="./assests/script.js"></script>