{{!-- handlebars for viewing all favorites --}}
<header class="sticky">
  <h1 class="headh1">Favorites</h1>
  <div class="navdiv">
    <a href="/" class="nav" id="nav1"></a>
    <a href="/books" class="nav" id="nav4"></a>
    <a href="/genres" class="nav" id="nav5"></a>
    <a href="/favorites" class="nav" id="nav6"></a>
    <a href="/add" class="nav" id="nav7"></a>
    <a href="#" class="nav" id="nav2"></a>
  </div>
</header>

{{!-- uses a partial --}}
{{#each books as |book|}}
{{> favorites-details}}
{{/each}}