 <div class="wrapper">
      <div class="scifi_card ">
        <div class="card_left">
          <div class="card_datails about_book">
            <div class="home_card">
              <h1>Book Nook</h1>
            </div>
              <p class="disc">Here at Book Nook we provide the user
                with an easy to use, interactive digital library. Here you're able
                to add books, safely store them, add them to favorites blah blah Here at Book Nook we provide the user
                with an easy to use, interactive digital library. Here you're able
                to add books, safely store them, add them to favorites blah blah Here at Book Nook we provide the user
                with an easy to use, interactive digital library. Here you're able
                to add books, safely store them, add them to favorites blah blah
              </p>
          </div>
        </div>
      </div>