

  <section class="homenav">
      <div class="navdiv">
        <a href="/books" class="nav" id="nav4"></a>
        <a href="/genres" class="nav" id="nav5"></a>
        <a href="/favorites" class="nav" id="nav6"></a>
        <a href="/add" class="nav" id="nav7"></a>

      </div>
    </section>

 