{{!-- handlebars for viewing the home page --}}
<div class="wrapper">
  <div class="house_card ">
    <div class="card_left">
      <div class="card_datails about_book">
        <div class="home_card">
          <h1>BookNook</h1>
        </div>
        <p class="disc">Welcome to BookNook! Here you can track your library by saving your books, favoriting them, and
          marking whether or not they've been read. It's a must-have utility for any book lover!
        </p>
      </div>
    </div>
  </div>
</div>