<header>
  <h1 class="headh1">Your Library</h1>
  <div class="navdiv">
    <a href="/" class="nav" id="nav1"></a>
    <a href="#" class="nav" id="nav2"></a>
    <a href="#" class="nav" id="nav3"></a>

  </div>
</header>

<section>
  <a href="/books">View all books</a>
  <a href="/genres">View all genres</a>
  <a href="/favorites">View all favorites</a>
</section>