{{!-- <section>
  <div>
    <h2>Login</h2>
    <form>
      <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button class="login-form" type="submit">Login</button>
      </div>
    </form>
  </div>
</section>

<section>
  <div>
    <h2>Sign Up</h2>
    <form>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button class="signup-form" type="submit">Login</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/login.js"></script> --}}

{{!-- breaksaosfdhaosdiufhsadiuofhsihfs --}}

    <h2>Welcome to Book Nook</h2>    
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1 class="sign-in-sign-up">Sign Up</h1>
       
          
          <input type="text" id="username-signup" placeholder="Username" />
          <input type="email"  id="email-signup" placeholder="Email" />
          <input type="password" id="password-signup" placeholder="Password" />
          <button class="signup-form">Create Account</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1 class="sign-in-sign-up">Sign in</h1>
          <input type="email" id="email-login" placeholder="Email" />
          <input type="password" id="password-login" placeholder="Password" />
          
          <button class="login-form">Enter Library</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with your personal library, please login with your account information</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Reader!</h1>
            <p>New to Book Nook? Easily sign up and create your online library!</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="scroll-container">
      <div id="scroll-text">Book Nook! Your personal library, just a click away from your fingetips.  <div>
      <div id="scroll-text2">Book Nook! Your personal library, just a click away from your fingetips.  <div>

    </div> -->
    <script src="/js/login.js"></script>