<section>
  {{book.title}}
  {{book.author}}
  {{book.genre.name}}
  <button id="delete-book">
    <i class="fas fa-download"></i>
    Delete From Library
  </button>
</section>

<script src="/js/delete-book.js"></script>