@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(/images/flyingbookbg.jpg);
  background-size: 40%;

}

header {
  text-align: center;
  margin-top: 4%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2%;

}
/* navigational buttons stick to top of page */
.sticky {
  position: sticky;
  top: 0;
}
/* heading styling at the top of every view */
.headh1 {
  color: black;
  background-color: white;
  padding-bottom: 2%;
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid black;



}
/* begining of navigation buttons styling */
.navdiv {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
}

.nav {
  text-decoration: none;
  border: 2px solid rgb(192, 192, 165);
  color: transparent;
  padding: 24px 120px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  transition: all 0.3s;
  position: relative;
  margin-right: 8px;
  position: sticky;
  top: 0;
  box-shadow: 25px 20px 20px rgba(0, 0, 0, 0.25);
}

#nav1:before {
  content: "Home";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav1:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

#nav2:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}


#nav1:after {
  content: "Home";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav1:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav2:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav2:before {
  content: "Logout";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav2:after {
  content: "Logout";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav3:before {
  content: "Add a Book";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav3:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

#nav3:after {
  content: "Add a Book";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav3:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav4:before {
  content: "View All Books";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav4:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

#nav5:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}


#nav4:after {
  content: "View All Books";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav4:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav5:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav5:before {
  content: "View All Genres";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav5:after {
  content: "View All Genres";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav6:before {
  content: "View All Favorites";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav6:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

#nav6:after {
  content: "View All Favorites";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav6:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

#nav7:before {
  content: "Add Book";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

#nav7:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

#nav7:after {
  content: "Add Book";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(192, 185, 102);
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: .1rem;
  transition: all .3s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

#nav7:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

.hamburger{
  display: none;
}
/* this is the end of the styling for the navigation buttons  */
/* and now the card styling begins */
.genre_card {
  margin: 50px auto;
  text-align: center;
}

.genre_title {
  font-size: 75px;
  margin: 0 auto;
}

.home_card {
  margin: 50px auto;
  text-align: center;
}

.mobile-img{
  display: none;
}

.about_book {
  font-size: 18px;
  text-align: center;
}


.scifi_card, .house_card {
  color: #fff;
  width: 760px;
  height: 390px;
  margin: 50px auto;
  display: flex;
  max-width: 770px;
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, black, #b6bcf4);
  background: -webkit-gradient(linear, left top, right top, from(#92FE9D), to(#f1a84f));
  background: -webkit-linear-gradient(left, black, #b6bcf4);
  background: -o-linear-gradient(left, black, #b6bcf4);
  background: linear-gradient(to right, black, #b6bcf4);
}

.card_left {
  width: 90%;
}

img {
  box-shadow: 25px 20px 20px rgba(0, 0, 0, 0.5);
}

.card_datails {
  width: 90%;
  padding: 30px;
  margin-top: -25px;
}

.card_datails h1 {
  font-size: 30px;
}

.card_right img {
  height: 390px;
  border-radius: 2px;
}

.card_right {
  border-radius: 2px;
}

.card_cat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.author,
.genre,
.pages {
  color: fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}


.disc {
  font-weight: 100;
  line-height: 27px;
}

a {
  color: darkcyan;
  display: block;
  text-decoration: none;
}

.social-btn {
  margin-left: -10px;
}

button {
  color: #fff;
  border: none;
  padding: 20px;
  outline: none;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 10px;
  background: none;
  border: 2px solid white;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* this marks the end of the card styling */

/* animations for buttons on cards */
@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }

  10% {
    transform: scale(1.8);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }

  20% {
    transform: scale(1.8);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}




/* this marks the begining of the form styling */


a {
  color: #881b0f;
  text-decoration: unset;
}


.flex-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.center-center {
  align-items: center;
  justify-content: center;
}

.box-root {
  box-sizing: border-box;
}

.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.padding-top--64 {
  padding-top: 64px;
}

.padding-top--24 {
  padding-top: 24px;
}

.padding-top--48 {
  padding-top: 48px;
}

.padding-bottom--24 {
  padding-bottom: 24px;
}

.padding-horizontal--48 {
  padding: 48px;
}

.padding-bottom--15 {
  padding-bottom: 15px;
}


.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

label {
  margin-bottom: 10px;
}

.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass>a {
  text-align: right;
  margin-bottom: 10px;
}

.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.field input,
.field select {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: rgb(98, 46, 46);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(98, 46, 46) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.add_class {
  font-size: 25px;
  font-weight: 400;
  color: black;
  border-bottom: 3px solid rgb(98, 46, 46);
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}

.footer-link span {
  font-size: 14px;
  text-align: center;
}

.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}

#genre_menu {
  max-width: 900px;
  padding-bottom: 20px;
}

.form_padding {
  padding-top: 15px;
}
/* this marks the end of the form styling */


/* this img styling is for our book covers being brought into  */
/* multiple views from our api */
img {
  border-left: 4px solid rgb(192, 185, 102);
}

/* from here all the way to the end handles our interactive display */
/* for when the viewport changes size */
@media screen and (max-width: 800px) {


  .navdiv {
    /* margin-right:1px; */
    width: 10%;
    justify-content: space-between;
    display: none;
  }

 
  .scifi_card {
    /* inline-size: min-content; */
    /* overflow: hidden; */
    overflow-y: scroll;
    margin: 25px auto;
    width: 80%;
    max-height: 200%;
    -webkit-box-shadow: none;
  }

  .house_card {
    /* inline-size: min-content; */
    /* overflow: hidden; */
    overflow-y: scroll;
    margin: 25px auto;
    width: 75%;
    height: 75%;
    -webkit-box-shadow: none;
  }
  .card_datails{
    width: 50%;
    font-size: 15px;
    padding: 5px;
    margin: auto;

  }

  #nav1:before,
  #nav2:before,
  #nav4:before,
  #nav5:before,
  #nav6:before,
  #nav7:before {
    width: 30%;
    font-size: 15px;
    box-shadow: 25px 20px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    background-color: rgb(98, 46, 46);
    border-radius: 5%;

  }

  #nav1:after,
  #nav2:after,
  #nav4:after,
  #nav5:after,
  #nav6:after,
  #nav7:after {
    width: 30%;
    font-size: 12px;
    box-shadow: 25px 20px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    padding: 1px;
    background-color: rgb(98, 46, 46);
    border-radius: 5%;



  }
  .nav{
    width: 50%;
    box-shadow: none;
    border: none;
    margin: 10px;

  }
  #nav6:before{
    content: "View All Faves";
  }
  #nav6:after{
    content: "View All Faves";

  }
  .hamburger{
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(98, 46, 46);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    display: block;
    margin: 0 auto;
  }
  .show-menu{
    display: block;

    /* margin: 0 auto; */

  }
  .hide-menu{
    display: none;
  }

  .genre_title{
    font-size: 35px;
    text-align: center;
  }
  .formbg{

    margin-left: 20%;
    width: 80%;
  }
  
  .card_right {
    display: none;
    /* flex-wrap: wrap; */
  }
  .mobile-img{
    display: block;
  }

}

